* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn {
    width: 150px;;
    height: 150px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin: 1.5rem;
}

.btncontainer {
    display: flex;
    justify-content: center;
}

.purple {
    background-color: #819ff9;
}
.yellow {
    background-color: #f99b45;
}
.green {
    background-color: #63aac0;
}
.red {
    background-color: #d95980;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}